.content {
    margin: 50px auto;
    text-align: center;
}

.title {
    font-size: 7vw;
}

.subtitle {
    font-size: 3vw;
}

.searchDiseaseInput {
    font-size: 3vw;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    display: block;
    margin: auto
}

.searchDiseaseSubmit {
    display: block;
    margin: 25px auto;
    font-size: 2vw;
}