.content {
    margin: 50px auto;
    text-align: center;
}

.title {
    font-size: 7vw;
}

.subtitle {
    font-size: 3vw;
}

.loginInput {
    font-size: 2vw;
    text-align: center;
    display: block;
    width: 30%;
    margin: 10px auto
}

.loginBtn {
    display: block;
    margin: 20px auto;
    font-size: 2vw;
}