.searchDiseaseForm {
    margin: 30px;
}

.searchDiseaseInput {
    font-size: 1.5vw;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    display: block;
    margin: auto
}

.diseaseDescription {
    text-align: justify;
}
