
.titleForm {
    font-weight: bold;
}


.diseaseSymptomListTitle {
    font-weight: bold;
}

.diseaseSymptomList {
    padding-left: 0px;
}

.diseaseSymptomListItem {
    display: inline-block;
    margin: 3px auto;
}

ul li:before {
    content: '\2022';
    color: black;
    margin: auto 10px;
}