.content {
    margin: 5px auto;
    text-align: center;
}

.title {
    margin: 5px;
    font-size: 3vw;
}

.addDiseaseTable {
    width: 100%;
}

td {
    vertical-align: top;
}

.addDiseaseLabel {
    display: block;
    font-size: 1.5vw;
}

.addDiseaseInput {
    display: block;
    margin: 10px auto;
    font-size: 1.5vw;
}

.symptomCheckbox {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
}

.addNewDiseaseBtn {
    margin-top: 20px;
    font-size: 1.5vw;
}

textarea{
    border-radius: 10px;
}