body {
    height: 100%;
    background-image: linear-gradient(141deg, rgba(195, 222, 208, 0.3) 0%, rgba(60, 230, 250, 0.5) 51%, rgba(48, 200, 255, 0.6) 75%);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-image: radial-gradient(rgba(195, 222, 208,0.3) 0%, rgba(60, 230, 250,0.5) 51%, rgba(48, 200, 255,0.6) 75%); */
}

button {
    background-color: aliceblue;
    border-color: lightblue;
    border-width: 2px;
    outline: none;
    border-radius: 50px;
    padding: 7px 27px;
}

input {
    background-color: aliceblue;
    border-radius: 50px;
    padding: 10px;
}

textarea {
    background-color: aliceblue;
    padding: 10px;
    resize: none;
    outline: none;
}


.warning {
    color: red;
    visibility: hidden;
    font-style: italic;
}